.patientContainer{
    display: inline-block;
    justify-content: center;
    background-image: url('../../../Files/img/bgAddDoc.jpg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
}